<!--
  Generated template for the OnlineTodosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ONLINE TODOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
<ion-refresher (ionRefresh)="doRefresh($event)">
	<ion-refresher-content></ion-refresher-content>

</ion-refresher>

<ion-list  ><ion-item-sliding  *ngFor="let todo of onlineTodos; let todoIndex = index"><ion-item>{{todo.title.rendered}}</ion-item>
	 <ion-item-options side="right">
      <button ion-button (click)="deleteThis(todoIndex)"><ion-icon name="trash"></ion-icon></button>
    </ion-item-options>
</ion-item-sliding>
</ion-list>

</ion-content>
