<ion-header>
  <ion-navbar> <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      TO DO APP
    </ion-title> <ion-buttons end>
 	<button ion-button  *ngIf="this.isReorder==true" (click)="reorrderDisabled();" ><ion-icon name="checkmark"></ion-icon></button>
 	<button ion-button  *ngIf="!this.isReorder==true"   (click)="reorrderEnabled();" ><ion-icon name="list"></ion-icon></button>
 	<button ion-button (click)="openModal();"><ion-icon name="add"></ion-icon></button>



 </ion-buttons>

 





  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list [reorder]="isReorder" (ionItemReorder)="valideteReorderPlease($event)">
	


	 <ion-item-sliding  *ngFor="let todo of todos; let todoIndex = index"><ion-item>{{todo}}</ion-item>
	 <ion-item-options side="right">
      <button ion-button (click)="archiveThis(todoIndex)"><ion-icon name="trash"></ion-icon></button>
    </ion-item-options>
</ion-item-sliding>

</ion-list>
<ion-fab bottom right>
   <button ion-fab (click)="goToArchive()"><ion-icon name="md-filing"></ion-icon></button>
 </ion-fab>


 <ion-fab bottom left >
   <button ion-fab (click)="goToOnlineArchive()"><ion-icon name="cloud"></ion-icon></button>
 </ion-fab>



</ion-content>
