<!--
  Generated template for the TodosArchivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LOCAL ARCHIVED TODOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list  >

		 <ion-item-sliding  *ngFor="let todo of archivedTodos; let todoIndex = index"><ion-item>{{todo}}</ion-item>
	 <ion-item-options side="right">
      <button ion-button (click)="deleteThis(todoIndex)"><ion-icon name="trash"></ion-icon></button>
    </ion-item-options>
</ion-item-sliding>
</ion-list>


 
</ion-content>
